@model e_course_web.ViewModels.CourseDetailVM;
@using e_course_web.Service.Helpers
@*
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Course Detail";
    var col = "col-lg-8";
    var colvideo = "col-lg-12";

    Model.FeedbackVMs = Model.GetFeedbackView();
    Model.RatingPercent = PercentHelper.CalculateRatingPercent(Model.CourseFeedbacks);

    if (Model.IsRegister)
    {
        col = "col-lg-12";
        colvideo = "col-lg-6";
    }
}
<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="courses.html">courses</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    course details</details>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- breadcrumb end -->
<!--  course details section start -->
<section class="course-details section-padding">
    <input hidden asp-for="@Model.Course.Id" />
    <div class="container">
        <div class="row">
            <div class="@col">
                <!-- course header start -->
                <div class="course-header box">
                    <div class="row">
                        <div class=@colvideo>
                            <h2 class="text-capitalize">@Model.Course.Title</h2>
                            
                            <ul>
                                <li> enrolled students - <span>@Model.Course.Register</span></li>
                                <li> created by - <span><a asp-action="Index" asp-controller="Teacher" asp-area="Customer" asp-route-id="@Model.Course.TeacherId">@Model.Instructor.FullName</a></span></li>
                                <li> last updated - <span>@Model.Course.UpdateAt</span></li>
                                <li> language - <span>@Model.Course.Language</span></li>
                            </ul>
                        </div>
                        @if (Model.IsRegister)
                        {
                            <div class="col-lg-6">
                                <div class="img-box" data-bs-toggle="modal" data-bs-target="#video-modal">
                                    <img src=@Model.Course.ImageUrl alt="course img" class="w-100">
                                </div>
                            </div>
                        }
                    </div>

                </div>
                <!-- course header end -->
                <!-- course tabs start -->
                <nav class="course-tabs">
                    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="course-curriculum-tab" data-bs-toggle="tab"
                                data-bs-target="#course-curriculum" type="button" role="tab"
                                aria-controls="course-curriculum" aria-selected="true">
                            curriculum
                        </button>
                        <button class="nav-link" id="course-description-tab" data-bs-toggle="tab"
                                data-bs-target="#course-description" type="button" role="tab"
                                aria-controls="course-description" aria-selected="false">
                            description
                        </button>
                        <button class="nav-link" id="course-instructor-tab" data-bs-toggle="tab"
                                data-bs-target="#course-instructor" type="button" role="tab"
                                aria-controls="course-instructor" aria-selected="false">
                            instructor
                        </button>
                        <button class="nav-link" id="course-reviews-tab" data-bs-toggle="tab"
                                data-bs-target="#course-reviews" type="button" role="tab"
                                aria-controls="course-reviews" aria-selected="false">
                            reviews
                        </button>
                    </div>
                </nav>
                <!-- course tabs end -->
                <!-- tab panes start -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- course curriculum start -->
                    <div class="tab-pane fade show active" id="course-curriculum" role="tabpanel"
                         aria-labelledby="course-curriculum-tab">
                        <div class="course-curriculum box">
                            <h3 class="text-capitalize mb-4">curriculum</h3>
                            <!-- accordion start -->
                            <div class="accordion" id="accordion">
                                <!-- accordion item start -->
                                @foreach (var lesson in Model.Course.Lessons)
                                {
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading-@(lesson.Id)">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@(lesson.Id)" aria-expanded="true" aria-controls="collapse-@(lesson.Id)">
                                                @lesson.Title<span> @(lesson.Videos.Count) lessons | @lesson.Videos.Sum(p => p.Hour)h @(lesson.Videos.Sum(p => p.Minute))m</span>
                                            </button>
                                        </h2>
                                        <div id="collapse-@(lesson.Id)" class="accordion-collapse collapse show" aria-labelledby="heading-@(lesson.Id)" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <!-- accordion list item start-->
                                                    @foreach (var video in lesson.Videos)
                                                    {
                                                        <div data-bs-toggle="modal" data-bs-target="#@video.Id">
                                                        <li>
                                                            <i class="fas fa-play-circle"></i>
                                                                @video.Title
                                                            <span>@video.Hour h:@video.Minute m</span>
                                                            <!-- Assuming Duration is a property that contains the duration of the video -->
                                                        </li>
                                                </div>
                                                    }
                                            <!-- accordion list item end-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                }
                            <!-- accordion item end -->
                        </div>
                        <!-- accordion end -->
                    </div>
                </div>
                <!-- course curriculum end -->
                <!-- course description start -->
                <div class="tab-pane fade" id="course-description" role="tabpanel"
                     aria-labelledby="course-description-tab">
                    <div class="course-description box">
                        <h3 class="text-capitalize mb-4">Description</h3>
                            @Html.Raw(Model.Course.Description)
                    </div>
                </div>
                <!-- course description end -->
                <!-- course instructor start -->
                <div class="tab-pane fade" id="course-instructor" role="tabpanel"
                     aria-labelledby="course-instructor-tab">
                    <div class="course-instructor box">
                        <h3 class="text-capitalize mb-4">Instructor</h3>
                        <div class="instructor-details">
                            <div class="details-wrap d-flex align-items-center">
                                <div class="left-box me-4">
                                    <div class="img-box">
                                        <img src=@(Model.Instructor.PhotoUrl != null ? Model.Instructor.PhotoUrl : Const.DEFAULT_AVATAR)
                                             class="rounde-circle" alt="instructor img">
                                    </div>
                                </div>
                                <div class="right-box">
                                    <h4>@Model.Instructor.FullName<span>@Model.Instructor.Expert</span></h4>
                                    <ul>
                                        <li><i class="fas fa-star"></i>@(Model.Instructor.ReviewCount != 0 ? Model.Instructor.Rating : 5) Ratting</li>
                                        <li><i class="fas fa-play-circle"></i>@Model.Instructor.CourseCount Courses</li>
                                        <li><i class="fas fa-certificate"></i>@Model.Instructor.ReviewCount Reviews</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="text">
                                <p class="mb-0">
                                        @Model.Instructor.Introduce
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- course instructor end -->
                <!-- course reviews end -->
                <div class="tab-pane fade" id="course-reviews" role="tabpanel"
                     aria-labelledby="course-reviews-tab">
                    <div class="course-reviews box">
                        <!-- rating summary start -->
                        <div class="rating-summary">
                            <h3 class="text-capitalize mb-4">students feedback</h3>
                            <div class="row">
                                <div class="col-md-4 d-flex align-items-center justify-content-center text-center">
                                    <div class="rating-box">
                                        <div class="average-rating">@(Model.CourseFeedbacks.Count() != 0 ?  Math.Round(Model.CourseFeedbacks.Average(p => p.Rating), 2)  : 5)</div>
                                        <div class="average-stars">
                                                @Html.Raw(PercentHelper.ConvertRatingToStars(Model.CourseFeedbacks.Count() != 0 ? Math.Round(Model.CourseFeedbacks.Average(p => p.Rating), 2) : 5))
                                        </div>
                                        <div class="reviews">@Model.CourseFeedbacks.Count() Reviews</div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="rating-bars">
                                        <!-- rating bars item start -->
                                        <div class="ratting-bars-item">
                                            <div class="star-text">5 Star</div>
                                            <div class="progress">
                                                <div class="progress-bar" style=@("width:" + Math.Round(Model.RatingPercent[4], 2) + "%;")></div>
                                            </div>
                                            <div class="percent">@(Math.Round(Model.RatingPercent[4], 2))%</div>
                                        </div>
                                        <!-- rating bars item end -->
                                        <!-- rating bars item start -->
                                        <div class="ratting-bars-item">
                                            <div class="star-text">4 Star</div>
                                            <div class="progress">
                                                <div class="progress-bar" style=@("width:" + Math.Round(Model.RatingPercent[3], 2) + "%;")></div>
                                            </div>
                                            <div class="percent">@(Math.Round(Model.RatingPercent[3], 2))%</div>
                                        </div>
                                        <!-- rating bars item end -->
                                        <!-- rating bars item start -->
                                        <div class="ratting-bars-item">
                                            <div class="star-text">3 Star</div>
                                            <div class="progress">
                                                <div class="progress-bar" style=@("width:" + Math.Round(Model.RatingPercent[2], 2) + "%;")></div>
                                            </div>
                                            <div class="percent">@(Math.Round(Model.RatingPercent[2], 2))%</div>
                                        </div>
                                        <!-- rating bars item end -->
                                        <!-- rating bars item start -->
                                        <div class="ratting-bars-item">
                                            <div class="star-text">2 Star</div>
                                            <div class="progress">
                                                <div class="progress-bar" style=@("width:" + Math.Round(Model.RatingPercent[1], 2)+ "%;")></div>
                                            </div>
                                            <div class="percent">@(Math.Round(Model.RatingPercent[1], 2))%</div>
                                        </div>
                                        <!-- rating bars item end -->
                                        <!-- rating bars item start -->
                                        <div class="ratting-bars-item">
                                            <div class="star-text">1 Star</div>
                                            <div class="progress">
                                                <div class="progress-bar" style=@("width:" + Math.Round(Model.RatingPercent[0], 2) + "%;")></div>
                                            </div>
                                            <div class="percent">@(Math.Round(Model.RatingPercent[0], 2))%</div>
                                        </div>
                                        <!-- rating bars item end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ratting sumary end -->
                        <button id="add-review-btn" class="btn btn-theme mb-5">Add review</button>
                        <!-- reviews filter start -->
                        <div class="reviews-filter">
                            <h3 class="mb-4 text-capitalize">reviews</h3>
                            <form action="">
                                <div class="form-group">
                                    <i class="fas fa-chevron-down select-icon"></i>
                                    <select name="" id="" class="form-control">
                                        <option value="">All Reviews</option>
                                        <option value="5">5 Star</option>
                                        <option value="4">4 Star</option>
                                        <option value="3">3 Star</option>
                                        <option value="2">2 Star</option>
                                        <option value="1">1 Star</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <!-- reviews filter end -->
                        <!-- review list start -->
                        <div class="reviews-list">
                                @foreach (var item in Model.FeedbackVMs)
                                {
                                <!-- review item start -->
                                <div class="reviews-item">
                                    <div class="img-box">
                                        <img src=@(item.PhotoUrl != null ? item.PhotoUrl : Const.DEFAULT_AVATAR) alt="review img">
                                    </div>
                                    <h4>@item.FullName</h4>
                                    <div class="stars-rating">
                                            @Html.Raw(PercentHelper.ConvertRatingToStars(item.Rating))
                                    </div>
                                    <p>
                                            @Html.Raw(item.Title)
                                    </p>
                                </div>
                                <!-- review item end -->
                                }

                        </div>
                        <!-- review list end -->
                        <button type="button" class="btn btn-theme">more reviews</button>
                    </div>
                </div>
                <!-- course reviews end -->
            </div>
            <!-- tab panes end -->
        </div>
            @if (Model.IsRegister == false)
            {
            <div class="col-lg-4">
                <!-- course sidebar start -->
                <div class="course-sidebar box">
                    <div class="img-box position-relative" data-bs-toggle="modal" data-bs-target="#video-modal">
                        <img src=@Model.Course.ImageUrl alt="course img" class="w-100">
                        <div class="play-icon">
                            <i class="fas fa-play"></i>
                        </div>
                        <p class="text-center">Course Preview</p>
                    </div>
                    <div class="price d-flex align-items-center mb-3">
                        <span class="price-new">$@Model.Course.Price</span>
                    </div>
                    <h3 class="mb-3">Course Features</h3>
                    <ul class="features-list">
                        <li>Total @(Model.Course.Lessons.Count) lessons</li>
                    </ul>
                    <div class="btn-wrap">
                        <form method="post" asp-action="Detail" asp-controller="Course" asp-area="Customer" asp-route-id="@Model.Course.Id">
                            <button type="submit" class="btn btn-theme btn-block">
                                Register
                            </button>
                        </form>
                    </div>
                </div>
                <!-- course sidebar end -->
            </div>
            }
    </div>
    </div>
</section>
<!--  course details section end -->
<!-- course preview modal start -->
<div class="modal fade video-modal js-course-preview-modal" id="video-modal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times"></i>
                </button>
                <div class="ratio ratio-16x9">
                    <video controls class="js-course-preview-video">
                        <source src=@Model.Course.VideoUrl type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- course preview modal end -->
@foreach (var lesson in Model.Course.Lessons)
{

    @foreach (var video in lesson.Videos)
    {
        <div class="modal fade video-modal js-course-preview-modal" id=@video.Id tabindex="-1"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fas fa-times"></i>
                        </button>
                        <div class="ratio ratio-16x9">
                            <video controls class="js-course-preview-video" src="@video.VideoUrl" type="video/mp4"></video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<div id="data-review" class="data-popup d-review" style="display: none;">
    <div class="wrap">
        <div class="data-content">
            <a href="" class="close-trigger" close-button><i class="fa-solid fa-xmark"></i></a>
            <h3>Write a Review</h3>
            <form asp-action="AddReview" asp-controller="Course" asp-area="Customer" asp-route-id="@Model.Course.Id">
                <div class="rating">
                    <span>Your rating: </span>
                    <div class="stars">
                        <input type="radio" asp-for="ReviewVM.Rating" name="Rating" value="5" id="star5" checked>
                        <label for="star5"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" asp-for="ReviewVM.Rating" name="Rating" value="4" id="star4">
                        <label for="star4"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" asp-for="ReviewVM.Rating" name="Rating" value="3" id="star3">
                        <label for="star3"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" asp-for="ReviewVM.Rating" name="Rating" value="2" id="star2">
                        <label for="star2"><i class="fa-solid fa-star"></i></label>
                        <input type="radio" asp-for="ReviewVM.Rating" name="Rating" value="1" id="star1">
                        <label for="star1"><i class="fa-solid fa-star"></i></label>
                    </div>
                </div>
                <div class="dotgrid">
                    <div class="wrapperr">
                        <div class="form-group">
                            <label>Your review</label>
                            <textarea id="myeditor" class="form-control" name="ReviewText" placeholder="Name"></textarea>
                            <span asp-validation-for="@Model.ReviewVM.ReviewText" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="btn btn-theme">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Get the button and review form
        const addReviewBtn = document.getElementById('add-review-btn');
        const reviewForm = document.getElementById('data-review');

        // Add event listener to the button
        addReviewBtn.addEventListener('click', function () {
            // Toggle the display of the review form
            if (reviewForm.style.display === 'none' || reviewForm.style.display === '') {
                reviewForm.style.display = 'block';
            } else {
                reviewForm.style.display = 'none';
            }
        });
    });

</script>