@model IEnumerable<e_course_web.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="table-responsive text-nowrap container-fluid section-padding">
    <div class="product-payment-inner-st">
        <div class="review-content-section box">
            <div class="row">
                <div class="col-10">
                    <h2>Index</h2>
                </div>
                <div class="col-2">
                    <a class="btn btn-theme" asp-action="Create">Create New</a>
                </div>
            </div>
            <table id="example" class="table table-hover table-fixed nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Rating</th>
                        <th>Register</th>
                        <th>TeacherId.</th>
                        <th>CourseImage</th>
                        <th>Time</th>
                        <th>Language</th>
                        <th>UpdateAt</th>
                        <th>CreatedAt</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Price</td>
                            <td>@item.CategoryId</td>
                            <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                @item.Description
                            </td>
                            <td>@item.Rating</td>
                            <td>@item.Register</td>
                            <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.TeacherId</td>
                            <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                @item.ImageUrl
                            </td>
                            <td>@item.Time</td>
                            <td>@item.Language</td>
                            <td>@item.UpdateAt</td>
                            <td>@item.CreatedAt</td>
                            <td>
                                <a class="btn btn-theme" asp-action="Detail" asp-route-id="@item.Id">View</a> |
                                <form asp-action="IndexDelete" method="post">
                                    <button type="submit" asp-action="IndexDelete" asp-route-id="@item.Id" formnovalidate
                                            class="cancel btn btn-danger" onclick="return confirm('Are you sure?')">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@* <div class=" section-padding">
    
</div> *@

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.1/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.1/js/responsive.bootstrap5.js"></script>

<script>
    new DataTable('#example', {
    });
</script>