@model e_course_web.ViewModels.CourseVideoVM

@{
    ViewData["Title"] = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-payment-inner-st">
                    <div class="review-content-section box">
                        <h2> Lesson Details </h2>
                        <form asp-action="Detail" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input asp-for="@Model.CourseLesson.Title" type="text" value="@Model.CourseLesson.Title"
                                               class="form-control"
                                               placeholder="Lesson Title">
                                        <span asp-validation-for="@Model.CourseLesson.Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <input asp-for="@Model.CourseLesson.Lesson" type="number" value="@Model.CourseLesson.Lesson"
                                               class="form-control"
                                               placeholder="Part Lesson">
                                        <span asp-validation-for="@Model.CourseLesson.Lesson" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                    <div class="review-content-section box">
                        <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> Video Details </h2>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div id="dropzone1" class="pro-ad addcoursepro">
                                    <form asp-action="Lesson" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                                <label asp-for="Part">Part</label>
                                                <input asp-for="Part" type="number" class="form-control" placeholder="Part">
                                                <span asp-validation-for="Part" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                                <label asp-for="Title">Title</label>
                                                <input asp-for="Title" type="text" class="form-control" placeholder="Title">
                                                <span asp-validation-for="Title" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                                <label asp-for="Hour">Hour</label>
                                                <input asp-for="Hour" type="number" class="form-control" placeholder="Hour">
                                                <span asp-validation-for="Hour" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                                <label asp-for="Minute">Minute</label>
                                                <input asp-for="Minute" type="number" class="form-control" placeholder="Minute">
                                                <span asp-validation-for="Minute" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 form-group">
                                                <label asp-for="Video">Video</label>
                                                <input type="file" asp-for="Video" class="form-control" />
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>

                                </div>
                                <hr />
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-responsive text-nowrap">
                                        <table id="example" class="table table-hover table-fixed nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Part</th>
                                                    <th>Title</th>
                                                    <th>Hour</th>
                                                    <th>Minute</th>
                                                    <th>VideoUrl</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.CourseLesson.Videos != null)
                                                {
                                                    @foreach (var video in Model.CourseLesson.Videos)
                                                    {
                                                        <tr>
                                                            <td>@video.Id</td>
                                                            <td>@video.Part</td>
                                                            <td>@video.Title</td>
                                                            <td>@video.Hour</td>
                                                            <td>@video.Minute</td>
                                                            <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@video.VideoUrl</td>
                                                            <td>
                                                                <a asp-action="Lesson" asp-route-id="@video.Id">Edit</a>
                                                                <form asp-action="VideoDelete" method="post">
                                                                    <button type="submit" asp-action="VideoDelete" asp-route-id="@video.Id" formnovalidate
                                                                            class="cancel btn btn-danger" onclick="return confirm('Are you sure?')">
                                                                        Delete
                                                                    </button>
                                                                </form>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.1/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.1/js/responsive.bootstrap5.js"></script>

<script>
    new DataTable('#example', {
    });
</script>
