@model e_course_web.ViewModels.ExamLessonVM

@{
    ViewData["Title"] = "Leson";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Exam question = ViewBag.Question;
    IEnumerable<SelectListItem> categories = ViewBag.Categories;
}

<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="review-content-section box">
                    <h2> Question Details </h2>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div id="dropzone1" class="pro-ad addcoursepro">
                                    <form asp-action="Create" method="post" enctype="multipart/form-data"
                                          class="dropzone dropzone-custom needsclick addcourse"
                                          id="demo1-upload">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                <div class="form-group">
                                                    <label asp-for="QuestionVM.Title">Title</label>
                                                    <input asp-for="QuestionVM.Title" type="text"
                                                           class="form-control"
                                                           placeholder="Question Title">
                                                    <span asp-validation-for="QuestionVM.Title" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="QuestionVM.CategoryId">Category</label>
                                                    <select asp-for="QuestionVM.CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="QuestionVM.Image">Question Image</label>
                                                    <input type="file" asp-for="QuestionVM.Image" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label asp-for="QuestionVM.Description">Description</label>
                                                    <textarea asp-for="QuestionVM.Description" name="description"
                                                              placeholder="Description"></textarea>
                                                    <span asp-validation-for="QuestionVM.Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="payment-adress">
                                                    <button type="submit"
                                                            class="btn btn-primary waves-effect waves-light">
                                                        Save
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr" />
                    <h2> Lesson Details </h2>
                    <div class="review-content-section">
                        <form asp-action="Detail" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="Title">Title</label>
                                        <input asp-for="Title" type="text"
                                               class="form-control"
                                               placeholder="Lesson Title">
                                        <span asp-validation-for="Lesson" class="text-danger"></span>
                                    </div><div class="form-group">
                                        <label asp-for="Lesson">Lesson</label>
                                        <input asp-for="Lesson" type="number"
                                               class="form-control"
                                               placeholder="Lesson">
                                        <span asp-validation-for="Lesson" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Point">Point</label>
                                        <input asp-for="Point" type="number"
                                               class="form-control"
                                               placeholder="Point">
                                        <span asp-validation-for="Point" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="Hour">Hour</label>
                                        <input asp-for="Hour" type="number"
                                               class="form-control"
                                               placeholder="Hour">
                                        <span asp-validation-for="Hour" class="text-danger"></span>
                                    </div><div class="form-group">
                                        <label asp-for="Minute">Minute</label>
                                        <input asp-for="Minute" type="number"
                                               class="form-control"
                                               placeholder="Minute">
                                        <span asp-validation-for="Minute" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Second">Second</label>
                                        <input asp-for="Second" type="number"
                                               class="form-control"
                                               placeholder="Second">
                                        <span asp-validation-for="Second" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <div class="table-responsive text-nowrap">
                            <table id="example" class="table table-hover table-fixed nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Lesson</th>
                                        <th>Point</th>
                                        <th>Hour</th>
                                        <th>Minute</th>
                                        <th>Second</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.QuestionLessons != null)
                                    {
                                        @foreach (var lesson in Model.QuestionLessons)
                                        {
                                            <tr>
                                                <td>@lesson.Id</td>
                                                <td>@lesson.Title</td>
                                                <td>@lesson.Lesson</td>
                                                <td>@lesson.Point</td>
                                                <td>@lesson.Hour</td>
                                                <td>@lesson.Minute</td>
                                                <td>@lesson.Second</td>
                                                <td>
                                                    <a class="btn btn-theme" asp-action="Lesson" asp-route-id="@lesson.Id">Edit</a>
                                                    <form asp-action="DetailDelete" method="post">
                                                        <button type="submit" asp-action="DetailDelete" asp-route-id="@lesson.Id" formnovalidate
                                                                class="cancel btn btn-danger" onclick="return confirm('Are you sure?')">
                                                            Delete
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.1/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.1/js/responsive.bootstrap5.js"></script>

<script>
    new DataTable('#example', {
    });
</script>