@model e_course_web.ViewModels.ExamQuestionVM

@{
    ViewData["Title"] = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="single-pro-review-area mt-t-30 mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="review-content-section box">
                    <h2>Edit Lesson Detail</h2>
                    <div class="review-content-section">
                        <form asp-action="Lesson" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.ExamLesson.Title">Title</label>
                                        <input asp-for="@Model.ExamLesson.Title" type="text" value="@Model.ExamLesson.Title"
                                               class="form-control"
                                               placeholder="Lesson Title">
                                        <span asp-validation-for="@Model.ExamLesson.Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.ExamLesson.Lesson">Lesson</label>
                                        <input asp-for="@Model.ExamLesson.Lesson" type="number" value="@Model.ExamLesson.Lesson"
                                               class="form-control"
                                               placeholder="Lesson">
                                        <span asp-validation-for="@Model.ExamLesson.Lesson" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.ExamLesson.Point">Point</label>
                                        <input asp-for="@Model.ExamLesson.Point" type="number" value="@Model.ExamLesson.Point"
                                               class="form-control"
                                               placeholder="Point">
                                        <span asp-validation-for="@Model.ExamLesson.Point" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="@Model.ExamLesson.Hour">Hour</label>
                                        <input asp-for="@Model.ExamLesson.Hour" type="number" value="@Model.ExamLesson.Hour"
                                               class="form-control"
                                               placeholder="Hour">
                                        <span asp-validation-for="@Model.ExamLesson.Lesson" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.ExamLesson.Minute">Minute</label>
                                        <input asp-for="@Model.ExamLesson.Minute" type="number" value="@Model.ExamLesson.Minute"
                                               class="form-control"
                                               placeholder="Minute">
                                        <span asp-validation-for="@Model.ExamLesson.Minute" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="@Model.ExamLesson.Second">Second</label>
                                        <input asp-for="@Model.ExamLesson.Second" type="number" value="@Model.ExamLesson.Second"
                                               class="form-control"
                                               placeholder="Second">
                                        <span asp-validation-for="@Model.ExamLesson.Second" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                    <hr class="hr" />
                    <h2> Question Detail</h2>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-content-section">
                                <div id="dropzone1" class="pro-ad addcoursepro">
                                    <form asp-action="Lesson" method="post" enctype="multipart/form-data">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label asp-for="Question">Question</label>
                                                    <input asp-for="Question" type="text" class="form-control" placeholder="Question">
                                                    <span asp-validation-for="Question" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Answer">Answer</label>
                                                    <select asp-for="Answer" asp-items="ViewBag.Options" class="form-control"></select>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Image">Image</label>
                                                    <input type="file" asp-for="Image" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label asp-for="Option1">Option1</label>
                                                    <input asp-for="Option1" type="text" class="form-control" placeholder="A">
                                                    <span asp-validation-for="Option1" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Option2">Option2</label>
                                                    <input asp-for="Option2" type="text" class="form-control" placeholder="B">
                                                    <span asp-validation-for="Option2" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Option3">Option3</label>
                                                    <input asp-for="Option3" type="text" class="form-control" placeholder="C">
                                                    <span asp-validation-for="Option3" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Option4">Option4</label>
                                                    <input asp-for="Option4" type="text" class="form-control" placeholder="D">
                                                    <span asp-validation-for="Option4" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>

                                    <div class="table-responsive text-nowrap">
                                        <table id="example" class="table table-hover table-fixed nowrap" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Question</th>
                                                    <th>Answer</th>
                                                    <th>Option</th>
                                                    <th>ImageUrl</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var question in Model.ExamLesson.ExamQuestion)
                                                {
                                                    <tr>
                                                        <td>@question.Id</td>
                                                        <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@question.Question</td>
                                                        <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@question.Answer</td>
                                                        <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@question.Option</td>
                                                        <td style="max-width: 100px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@question.ImageUrl</td>
                                                        <td>
                                                            <a class="btn btn-theme" asp-action="Question" asp-route-id="@question.Id">Edit</a>
                                                            <form asp-action="QuestionDelete" method="post">
                                                                <button type="submit" asp-action="QuestionDelete" asp-route-id="@question.Id" formnovalidate
                                                                        class="cancel btn btn-danger" onclick="return confirm('Are you sure?')">
                                                                    Delete
                                                                </button>
                                                            </form>

                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.1/js/dataTables.responsive.js"></script>
<script src="https://cdn.datatables.net/responsive/3.0.1/js/responsive.bootstrap5.js"></script>

<script>
    new DataTable('#example', {
    });
</script>
