@model e_course_web.Models.Exam;

<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="courses.html">courses</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    course details
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- breadcrumb end -->
<!--  course details section start -->
<section class="course-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- course header start -->
                <div class="course-header box">
                    <h2 class="text-capitalize">@Model.Title</h2>
                    <div class="rating">
                        <span class="average-rating">(4.5)</span>
                        <span class="average-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </span>
                        <span class="reviews">(23 Reviews)</span>
                    </div>
                    <ul>
                        <li> enrolled students - <span>2200</span></li>
                        <li> created by - <span><a href="#">john doe</a></span></li>
                        <li> last updated - <span>20/03/2024</span></li>
                        <li> language - <span>english</span></li>
                    </ul>
                </div>
                <!-- course header end -->
                <!-- course tabs start -->
                <nav class="course-tabs">
                    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="course-curriculum-tab" data-bs-toggle="tab"
                                data-bs-target="#course-curriculum" type="button" role="tab"
                                aria-controls="course-curriculum" aria-selected="true">
                            curriculum
                        </button>
                        <button class="nav-link" id="course-description-tab" data-bs-toggle="tab"
                                data-bs-target="#course-description" type="button" role="tab"
                                aria-controls="course-description" aria-selected="false">
                            description
                        </button>
                        
                    </div>
                </nav>
                <!-- course tabs end -->
                <!-- tab panes start -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- course curriculum start -->
                    <div class="tab-pane fade show active" id="course-curriculum" role="tabpanel"
                         aria-labelledby="course-curriculum-tab">
                        <div class="course-curriculum box">
                            <h3 class="text-capitalize mb-4">curriculum</h3>
                            <!-- accordion start -->
                            <div class="accordion" id="accordion">
                                <!-- accordion item start -->
                                @foreach (var lesson in Model.Lessons)
                                {
                                    <a asp-action="test" asp-controller="exam" asp-area="customer" asp-route-id="@lesson.Id">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading-@(lesson.Id)">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@(lesson.Id)" aria-expanded="true" aria-controls="collapse-@(lesson.Id)">
                                                    @lesson.Title<span> @(lesson.ExamQuestion.Count) lessons | @(lesson.Hour)h @(lesson.Minute)m</span>
                                                </button>
                                            </h2>
                                        </div>
                                    </a>
                                }
                                
                            </div>
                            <!-- accordion end -->
                        </div>
                    </div>
                    <!-- course curriculum end -->
                    <!-- course description start -->
                    <div class="tab-pane fade" id="course-description" role="tabpanel"
                         aria-labelledby="course-description-tab">
                        <div class="course-description box">
                            <h3 class="text-capitalize mb-4">Description</h3>
                            <p>@Html.Raw(Model.Description)</p>
                        </div>
                    </div>
                    <!-- course description end -->
                    <!-- course reviews end -->
                    <!-- course reviews end -->
                </div>
                <!-- tab panes end -->

            </div>
        </div>
    </div>
</section>
<!--  course details section end -->