@model e_course_web.ViewModels.ExamResultVM;

<div class="container status mt-5 pd-2">
    <div class="row">
        <div class="col-md-2 btn-wrap">
            <a type="button" class="btn btn-theme" asp-action="Index" asp-controller="Exam" asp-area="Customer">Thoát</a>
        </div>
        <div class="col-md-5 text-center pt-2">
            <p class="fw-bold">User: @Model.UserName</p>
            
        </div>
        <div class="col-md-2 text-center pt-2">
            <p class ="fw-bold ">Score: @Model.Score</p>
        </div>
    </div>
</div>
<!--  course details section start -->
<section class="course-details section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- quiz start -->
                @{
                    int iQuestion = 0;
                }
                @foreach (var item in Model.TestLessonVM.ExamQuestions)
                {
                    <div class="course-header box @(iQuestion != 0 ? "mt-3" : "")">
                        <h5 class="text-capitalize">@(iQuestion + 1). @item.Question</h5>
                        <div class="text-center">
                            <img class="m-4" src="@item.ImageUrl" alt="" width="450">
                        </div>
                        <form class="result" id=@iQuestion>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input radio-button" id="radio1-@(iQuestion)" name="result"
                                                   value="0" @(Model.UserChoice[iQuestion].Answer == 0 ? "checked" : "") disabled><p>A. @item.Option[0]</p>
                                            <label class="form-check-label" for="radio1-@(iQuestion)"></label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input radio-button" id="radio2-@(iQuestion)" name="result"
                                                   value="2" @(Model.UserChoice[iQuestion].Answer == 2 ? "checked" : "") disabled><p>C. @item.Option[2]</p>
                                            <label class="form-check-label" for="radio2-@(iQuestion)"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input radio-button" id="radio3-@(iQuestion)" name="result"
                                                   value="1" @(Model.UserChoice[iQuestion].Answer == 1 ? "checked" : "") disabled><p>B. @item.Option[1]</p>
                                            <label class="form-check-label" for="radio3-@(iQuestion)"></label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-check">
                                            <input type="radio" class="form-check-input radio-button" id="radio4-@(iQuestion)" name="result"
                                                   value="3" @(Model.UserChoice[iQuestion].Answer == 3 ? "checked" : "") disabled><p>D. @item.Option[3]</p>
                                            <label class="form-check-label" for="radio4-@(iQuestion)"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p class="col-auto">
                                        Đáp án đúng: @{
                                            switch (Model.TestLessonVM.ExamQuestions[iQuestion].Answer)
                                            {
                                                case 0:
                                                    <text>A</text>
                                                    break;
                                                case 1:
                                                    <text>B</text>
                                                    break;
                                                case 2:
                                                    <text>C</text>
                                                    break;
                                                case 3:
                                                    <text>D</text>
                                                    break;
                                            }
                                        }
                                    </p>
                                </div>
                            </div>
                        </form>
                    </div>
                    iQuestion++;
                }
                <!-- quiz end -->
            </div>
            <div class="col-lg-4">
                <!-- course sidebar start -->
                <div class="course-sidebar box">
                    <ul class="row">
                        @{
                            int iStatus = 0;
                        }
                        @for(int i = 0; i < Model.TestLessonVM.ExamQuestions.Count; i ++)
                        {
                            iStatus++;
                            if(Model.UserChoice[i].Answer == Model.TestLessonVM.ExamQuestions[i].Answer)
                            {
                                <li class="col-md-2 col-lg-2 exam-choice bg-primary" id="choice_@iStatus">
                                    @iStatus
                                </li>
                            }
                            else
                            {
                                <li class="col-md-2 col-lg-2 exam-choice bg-danger" id="choice_@iStatus">@iStatus</li>
                            }
                        }
                    </ul>
                </div>
                <!-- course sidebar end -->
            </div>
        </div>
    </div>
</section>
