@model e_course_web.Models.Course;
@*
    
*@
@{
    var courseLessons = ViewBag.CourseLessons as List<CourseLesson>;
}
<!-- breadcrumb start -->
<div class="breadcrumb-nav">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="courses.html">courses</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                    course details</details>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- breadcrumb end -->
<!--  course details section start -->
<section class="course-details section-padding">
    <input hidden asp-for="Id" />
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- course header start -->
                <div class="course-header box">
                    <h2 class="text-capitalize">@Model.Title</h2>
                    <div class="rating">
                        <span class="average-rating">(4.5)</span>
                        <span class="average-stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </span>
                        <span class="reviews">(@Model.Feedbacks.Count Reviews)</span>
                    </div>
                    <ul>
                        <li> enrolled students - <span>@Model.Register</span></li>
                        <li> created by - <span><a href="#">@Model.TeacherId</a></span></li>
                        <li> last updated - <span>20/03/2024</span></li>
                        <li> language - <span>@Model.Language</span></li>
                    </ul>
                </div>
                <!-- course header end -->
                <!-- course tabs start -->
                <nav class="course-tabs">
                    <div class="nav nav-tabs border-0" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="course-curriculum-tab" data-bs-toggle="tab"
                                data-bs-target="#course-curriculum" type="button" role="tab"
                                aria-controls="course-curriculum" aria-selected="true">
                            curriculum
                        </button>
                        <button class="nav-link" id="course-description-tab" data-bs-toggle="tab"
                                data-bs-target="#course-description" type="button" role="tab"
                                aria-controls="course-description" aria-selected="false">
                            description
                        </button>
                        <button class="nav-link" id="course-instructor-tab" data-bs-toggle="tab"
                                data-bs-target="#course-instructor" type="button" role="tab"
                                aria-controls="course-instructor" aria-selected="false">
                            instructor
                        </button>
                        <button class="nav-link" id="course-reviews-tab" data-bs-toggle="tab"
                                data-bs-target="#course-reviews" type="button" role="tab"
                                aria-controls="course-reviews" aria-selected="false">
                            reviews
                        </button>
                    </div>
                </nav>
                <!-- course tabs end -->
                <!-- tab panes start -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- course curriculum start -->
                    <div class="tab-pane fade show active" id="course-curriculum" role="tabpanel"
                         aria-labelledby="course-curriculum-tab">
                        <div class="course-curriculum box">
                            <h3 class="text-capitalize mb-4">curriculum</h3>
                            <!-- accordion start -->
                            <div class="accordion" id="accordion">
                                <!-- accordion item start -->
                                @foreach (var lesson in courseLessons)
                                {
                                    <div class="accordion-item">
                                        <h2 class="accordion-header" id="heading-@(lesson.Id)">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@(lesson.Id)" aria-expanded="true" aria-controls="collapse-@(lesson.Id)">
                                                @lesson.Title<span> @lesson.Videos.Count lessons | @lesson.Videos.Sum(p => p.Hour) h @lesson.Videos.Sum(p => p.Minute) min </span>
                                            </button>
                                        </h2>
                                        <div id="collapse-@(lesson.Id)" class="accordion-collapse collapse show" aria-labelledby="heading-@(lesson.Id)" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                <ul>
                                                    <!-- accordion list item start-->
                                                    @foreach (var video in lesson.Videos)
                                                    {
                                                        <li>
                                                            <i class="fas fa-play-circle"></i>
                                                            @video.Title
                                                            <span>@video.Hour h:@video.Minute m</span> <!-- Assuming Duration is a property that contains the duration of the video -->
                                                        </li>
                                                    }
                                                    <!-- accordion list item end-->
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <!-- accordion item end -->
                            </div>
                            <!-- accordion end -->
                        </div>
                    </div>
                    <!-- course curriculum end -->
                    <!-- course description start -->
                    <div class="tab-pane fade" id="course-description" role="tabpanel"
                         aria-labelledby="course-description-tab">
                        <div class="course-description box">
                            <h3 class="text-capitalize mb-4">Description</h3>
                            @Model.Description
                        </div>
                    </div>
                    <!-- course description end -->
                    <!-- course instructor start -->
                    <div class="tab-pane fade" id="course-instructor" role="tabpanel"
                         aria-labelledby="course-instructor-tab">
                        <div class="course-instructor box">
                            <h3 class="text-capitalize mb-4">Instructor</h3>
                            <div class="instructor-details">
                                <div class="details-wrap d-flex align-items-center">
                                    <div class="left-box me-4">
                                        <div class="img-box">
                                            <img src="img/instructor/1.png"
                                                 class="rounde-circle" alt="instructor img">
                                        </div>
                                    </div>
                                    <div class="right-box">
                                        <h4>john doe <span>web developer</span></h4>
                                        <ul>
                                            <li><i class="fas fa-star"></i>4.5 Ratting</li>
                                            <li><i class="fas fa-play-circle"></i>10 Courses</li>
                                            <li><i class="fas fa-certificate"></i>3000 Reviews</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="text">
                                    <p class="mb-0">
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Dolorum quibusdam error tempore sequi vero nesciunt maiores aperiam
                                        itaque blanditiis soluta! Necessitatibus harum incidunt soluta sequi
                                        sapiente porro labore aspernatur ullam.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- course instructor end -->
                    <!-- course reviews end -->
                    <div class="tab-pane fade" id="course-reviews" role="tabpanel"
                         aria-labelledby="course-reviews-tab">
                        <div class="course-reviews box">
                            <!-- rating summary start -->
                            <div class="rating-summary">
                                <h3 class="text-capitalize mb-4">students feedback</h3>
                                <div class="row">
                                    <div class="col-md-4 d-flex align-items-center justify-content-center text-center">
                                        <div class="rating-box">
                                            <div class="average-rating">4.5</div>
                                            <div class="average-stars">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star-half-alt"></i>
                                            </div>
                                            <div class="reviews">230 Reviews</div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="rating-bars">
                                            <!-- rating bars item start -->
                                            <div class="ratting-bars-item">
                                                <div class="star-text">5 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 50%;"></div>
                                                </div>
                                                <div class="percent">50%</div>
                                            </div>
                                            <!-- rating bars item end -->
                                            <!-- rating bars item start -->
                                            <div class="ratting-bars-item">
                                                <div class="star-text">4 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 30%;"></div>
                                                </div>
                                                <div class="percent">30%</div>
                                            </div>
                                            <!-- rating bars item end -->
                                            <!-- rating bars item start -->
                                            <div class="ratting-bars-item">
                                                <div class="star-text">3 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 10%;"></div>
                                                </div>
                                                <div class="percent">10%</div>
                                            </div>
                                            <!-- rating bars item end -->
                                            <!-- rating bars item start -->
                                            <div class="ratting-bars-item">
                                                <div class="star-text">2 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 7%;"></div>
                                                </div>
                                                <div class="percent">7%</div>
                                            </div>
                                            <!-- rating bars item end -->
                                            <!-- rating bars item start -->
                                            <div class="ratting-bars-item">
                                                <div class="star-text">1 Star</div>
                                                <div class="progress">
                                                    <div class="progress-bar" style="width: 3%;"></div>
                                                </div>
                                                <div class="percent">3%</div>
                                            </div>
                                            <!-- rating bars item end -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- ratting sumary end -->
                            <!-- reviews filter start -->
                            <div class="reviews-filter">
                                <h3 class="mb-4 text-capitalize">reviews</h3>
                                <form action="">
                                    <div class="form-group">
                                        <i class="fas fa-chevron-down select-icon"></i>
                                        <select name="" id="" class="form-control">
                                            <option value="">All Reviews</option>
                                            <option value="5">5 Star</option>
                                            <option value="4">4 Star</option>
                                            <option value="3">3 Star</option>
                                            <option value="2">2 Star</option>
                                            <option value="1">1 Star</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <!-- reviews filter end -->
                            <!-- review list start -->
                            <div class="reviews-list">
                                <!-- review item start -->
                                <div class="reviews-item">
                                    <div class="img-box">
                                        <img src="img/review/1.jpeg" alt="review img">
                                    </div>
                                    <h4>Hydra</h4>
                                    <div class="stars-rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <span class="date">1 week ago</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                        repellendus quo eaque vero neque iure quibusdam provident suscipit
                                        soluta porro totam deleniti iusto, asperiores, nostrum quidem. Numquam
                                        similique consequuntur esse!
                                    </p>
                                </div>
                                <!-- review item end -->
                                <!-- review item start -->
                                <div class="reviews-item">
                                    <div class="img-box">
                                        <img src="img/review/1.jpeg" alt="review img">
                                    </div>
                                    <h4>Hydra</h4>
                                    <div class="stars-rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <span class="date">1 week ago</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                        repellendus quo eaque vero neque iure quibusdam provident suscipit
                                        soluta porro totam deleniti iusto, asperiores, nostrum quidem. Numquam
                                        similique consequuntur esse!
                                    </p>
                                </div>
                                <!-- review item end -->
                                <!-- review item start -->
                                <div class="reviews-item">
                                    <div class="img-box">
                                        <img src="img/review/1.jpeg" alt="review img">
                                    </div>
                                    <h4>Hydra</h4>
                                    <div class="stars-rating">
                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                                        <span class="date">1 week ago</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
                                        repellendus quo eaque vero neque iure quibusdam provident suscipit
                                        soluta porro totam deleniti iusto, asperiores, nostrum quidem. Numquam
                                        similique consequuntur esse!
                                    </p>
                                </div>
                                <!-- review item end -->
                            </div>
                            <!-- review list end -->
                            <button type="button" class="btn btn-theme">more reviews</button>
                        </div>
                    </div>
                    <!-- course reviews end -->
                </div>
                <!-- tab panes end -->

            </div>
            <div class="col-lg-4">
                <!-- course sidebar start -->
                <div class="course-sidebar box">
                    <div class="img-box position-relative" data-bs-toggle="modal" data-bs-target="#video-modal">
                        <img src=@Model.CourseImage alt="course img" class="w-100">
                        <div class="play-icon">
                            <i class="fas fa-play"></i>
                        </div>
                        <p class="text-center">Course Preview</p>
                    </div>
                    <div class="price d-flex align-items-center mb-3">
                        <span class="price-old">$111</span>
                        <span class="price-new">$1</span>
                        <span class="price-discount">99% Off</span>
                    </div>
                    <h3 class="mb-3">Course Features</h3>
                    <ul class="features-list">
                        <li>Total @courseLessons.Count lessons</li>
                        <li>Other features</li>
                        <li>Other features</li>
                        <li>Other features</li>
                        <li>Other features</li>
                    </ul>
                    <div class="btn-wrap">
                        <button type="button" class="btn btn-theme btn-block">
                            enroll
                            now
                        </button>
                    </div>
                </div>
                <!-- course sidebar end -->
            </div>
        </div>
    </div>
</section>
<!--  course details section end -->